<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-label (click)="openEditTitleModal()">
        {{ list?.title }}
      </ion-label>
    </ion-title>
    <ion-icon size="large" name="add-sharp" slot="end" (click)="openAddItemModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content *ngIf="getListItems().length == 0" style="text-align:center"  >
    <p>
      <i>You currently don't have any items in the list. Click the '+' button to add one.</i>
    </p>
  </ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of getListItems() | sort: sortType : desc; let i = index">
      <ion-item-options side="start">
        <ion-item-option color="warning">
          <ion-icon size="large" name="alert-circle-outline" slot="end" (click)="setDueByDate(item, i)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item class="ion-text-wrap">
        <ion-checkbox color="primary" [(ngModel)]="item.checked" (ionChange)="updateItem(item, i)"></ion-checkbox>
        &nbsp;&nbsp; 
        <ion-input [(ngModel)]="item.item_name" (ionChange)="updateItem(item, i)"></ion-input>   
        <ion-badge color="{{ item.due_by_date|daysUntilDue|duration }}" *ngIf="!item.checked && item.due_by_date" slot="end">{{ item.due_by_date|daysUntilDue }}</ion-badge>  
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeItem(item)">
         Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-fab-button color="secondary">
        <ion-icon name="send" id="mediumSize"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button color="medium" *ngIf="!list.locked">
        <ion-icon name="lock-closed" id="mediumSize" (click)="setLockedList()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium" *ngIf="list.locked">
        <ion-icon name="lock-open" id="mediumSize" (click)="removeLockedList()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning">
        <ion-icon color="light" name="swap-vertical" (click)="sort_items()" id="largerSize"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" *ngIf="list.completed != 'true'">
        <ion-icon name="checkmark" id="largerSize" (click)="markListAsComplete()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" *ngIf="list.completed == 'true'">
        <ion-icon name="close" id="largerSize" (click)="markListAsIncomplete()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
