<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Checklists
    </ion-title>
    <ion-icon size="large" name="add-sharp" slot="end" (click)="showAlert()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <app-list *ngFor="let list of getLists()" [list]="list"></app-list>
  </ion-list>
</ion-content>


© 2022 GitHub, Inc.
