
<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-title class="ion-text-center" id="largerTitle">
      <b>Checklists</b>
    </ion-title>
    <!--
    <ion-menu-button slot = "start" autoHide="false" ></ion-menu-button>
    -->
    <ion-icon size="large" name="add-sharp" slot="end" (click)="showAlert()" *ngIf="filterType == 'all'"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
<ion-segment color="primary" value="all" (ionChange)="toggleListTypes($event)">
  <ion-segment-button value="all">
    <ion-label>To Do</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completed">
    <ion-label>Completed</ion-label>
  </ion-segment-button>
</ion-segment>
</ion-toolbar>
<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="search">
    <ion-searchbar
    placeholder=""
    showCancelButton="always"
    showClearButton="focus"
    [(ngModel)]="searchTerm"
    (ionCancel)="hideSearchBar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- 
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Options Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-label (click)="Search()">Search</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="send-outline" slot="start"></ion-icon>
        <ion-label (click) ="Share()">Share</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label (click) ="ViewLockedLists()">View Locked Lists</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label (click)="Notify()">Notifications</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label (click)="SelfDriving()">Self Driving Mode</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-apple-appstore" slot="end"></ion-icon>
        <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
        <ion-label (click)="ReviewApp()">Review App</ion-label>         
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>   
<div class="ion-page" id = "main" main>
     <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        <ion-button size="small" color="tertiary">Tertiary</ion-button>
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
         SHA
</div>
-->


<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionPull)="showSearchBar()" *ngIf="!search"></ion-refresher>
  
<ion-content *ngIf="getLists().length == 0" style="text-align:center"  >
  <p>
    <i>You currently don't have any lists. Click the '+' button to create one.</i>
  </p>
</ion-content>

<ion-content *ngIf="getLists().length != 0 && (getLists() | filterLists:filterType).length == 0">
  <ion-text class="ion-text-center">
    <p>
      <i>You currently do not have any lists completed. Better get to work!</i>
    </p>
  </ion-text>
</ion-content>

  <ng-container *ngIf="_reload">
    <ion-list>
      <app-list *ngFor="let list of getLists() | filterLists:filterType | sortlists | filter:searchTerm" [list]="list"></app-list>
    </ion-list>
  </ng-container>
</ion-content>


© 2022 GitHub, Inc.
